@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Ubuntu|Roboto:400,700);



body{
  font-family: "Ubuntu", sans-serif;
}

a.anchor {
    display: block;
    position: relative;
    top: 25px;
    visibility: hidden;
}
.navbar{
    height:0px;
    padding:0%;

}
.navbar-brand img{
    height: 150px;
    width:150px;
    padding-top: 2px;
    padding: 1px 5px;
    top:8px;
     position: absolute;
    top: -50px;
    margin-left: -90px;
}

.navbar li{
  text-transform: capitalize;
  margin-left: 875px;
  margin-right:-740px;
  top:-45px;
  
}

#splash{
 background-image: url(https://i.pinimg.com/564x/45/0d/25/450d258a4fa06e6175b91581d3c7d13b.jpg);
  background-size: cover;
  background-position: center;
  height: 80%;
  margin-top: 50px;
  padding-top: 15%;
  padding-bottom: 50px;
  color: #fff;
  font-size: 2em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.1);
}

  #splash h1{
    font-size: 3em;
  }

  #splash a{
    color: #fff;
  }

  #splash a:hover{
    color: #0D0011;
  }

#portfolio{
  background-color: #0D0011;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 130%;
  padding-bottom: 50px;
  color: #ffff;
}

  #portfolio h1{
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }

.thumbnail{
  position: relative;
}

  .thumbnail img{
    min-height: 250px;
    max-height:250px;
    min-width: 300px;
  }

.thumbnail-hover{
  position: absolute;
  top: 2px;
  left: 2px;
  height: 99%;
  width: 99%;
  opacity: 0;
  transition:2s;
}

    .thumbnail-hover:hover{
    top: 2px;
    left: 2px;
    position: absolute;
    height: 99%;
    width: 99%;
    background-color: rgba(0,0,0,0.8);
    margin: 0 auto;
    transition:.5s;
    opacity: 1;
    padding-top: 30%;
    border-radius: 5px;
  }

  .thumbnail-hover i{
    text-decoration: none;
    color: white;
  }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#about{
  background-image: url(https://i.pinimg.com/564x/45/0d/25/450d258a4fa06e6175b91581d3c7d13b.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  padding-bottom: 50px;
  color: #fff;
}

  #about h1{
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }

  #about p{
    font-size: 1.5em;
    text-align: justify;
  }

  #about img{
    padding: 5px;
  }

#white-bg{
  float: left;
  display: inline-block;
  vertical-align: middle;
  padding: 6% 2%;
}

#contact{
  Background-color:#0D0011;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding-bottom: 50px;
  color: #fff;
}

  #contact h1{
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }

  #contact h2{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }

  #contact address{
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
  }

  #contact .fa-stack{
    color: #333;
  }

  #contact .fa-stack:hover .fa-stack-1x{
    color: #333;
    transition: 0.5s;
  }

  #contact .fa-stack:hover .fa-stack-2x{
    color: #fff;
    transition: 0.5s;
  }

  #contact a{
    text-decoration: none;
  }

hr{
  width: 30%;
}
.resume-button {
    background-color: #6759E8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .resume-button:hover {
    background-color: #B7B0F8;
    cursor: pointer;
  }
